/.GAGAspect.xtendbin
/.GAGAspect.java._trace
/.GuardAspect.java._trace
/.GuardAspect.xtendbin
/.OutputInterface.java._trace
/.OutputInterface.xtendbin
/.ServiceAspect.java._trace
/.ServiceAspect.xtendbin
/GAGAspect.java
/GuardAspect.java
/OutputInterface.java
/ServiceAspect.java
